.app {
  background: linear-gradient(
    to right,
    var(--mainLightPink) 50%,
    var(--mainLightBlue) 50% 100%
  );
  min-height: 100vh;
}

.app h1 {
  left: 0;
  right: 0;
  padding-top: 5%;
  text-align: center;
}
